body {
  margin: 0;
  font-family: 'Magra', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: rgb(240, 241, 241);
}

code {
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: border-box;
}
